<div class="background_complete">
 <div class="cotainer">
   <br>
   <br>
   <br>
   <br>
   <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
     <h3>&emsp; &emsp; 投稿完了しました!</h3>
    </div>
   </div>
   <br>
  <div class="row">
   <div class="col-5"></div>
   <div class="col-6">
    <%= link_to '投稿一覧へ戻る',posts_path,class: 'sign-btn' %>
   </div>
  </div>
 </div>
</div>