<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1 class="text-center">About</h1>
    <div class="text-center">
      歴史上の人物や歴史的な建物に興味がある人が、<br>
      ゆかりの地や建物が実際に行きたいとなった時に<br>
      「その場所の行き方がわからない」「どういう巡り方がいいのか」など、<br>
      そういう情報を知れたらいいなと思い、このサイトを作成しました!<br>
    </div>
  </div>
</div>