<div class="background_complete">
  <div class="container">
    <br>
    <div class="row">
     <div class="col-1"></div>
     <div class="col-8">
      <%= link_to "マイページに戻る", members_my_page_path,class: 'sign-btn' %>
     </div>
  </div>
<%= render 'index', member: @member,post_Individual: @post_Individual %>
  </div>
</div>