<div class="background_unsubscribe" >
 <div class ="container">
  <br>
  <div class="row">
   <div class="col-3">
   </div>
   <div class="col-6">
    <h3> &emsp; &emsp; 本当に退会しますか？</h3>
   </div>
   <div class="col-4">
   </div>
  </div>
  <br>
  <div class="row">
   <div class="col-3">
   </div>
   <div class="col-6">
    <h4> &emsp; &emsp; ご自身の登録情報やこれまでの</h4>
    <h4> &emsp; &emsp; 投稿履歴が閲覧できなくなりますが、</h4>
    <h4> &emsp; &emsp; よろしいでしょうか？</h4>
   </div>
  </div>
  <br>
  <div class="row">
   <div class="col-3">
   </div>
   <div class="col-4">
     <%= link_to "退会しない",members_my_page_path %>
   </div>
   <div class="col-4">
     <%= link_to "退会する", members_withdraw_path, method: :patch,style: "color: red;" %>
   </div>
  </div>
 </div>
</div>