<h2>退会お手続き</h2>
 <p>
   本当に退会しますか？
   ご自身の登録情報やこれまでの投稿履歴が閲覧できなくなりますが、退会しますか？
 </p>
  <%= link_to "退会しない",members_my_page_path %>
  <%= link_to "退会する", members_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>
