@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');


*{
  font-family: 'Noto Serif JP', serif;
}




table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  background:#F0FFF0;
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

h2{
  font-weight: bold;
}

h3{
  font-weight: bold;
}

h5{
  color:red;
  font-weight: bold;
}

h6{
  font-weight: bold;
}

td{
  font-weight: bold;
}

.top_mesg{
  position:absolute;
  top:35%;
  left:30%;
  color:#ffffff;
}

.background_form{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 2200px;
  background-size:cover;
}

.background_top{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_my{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_edit{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_unsubscribe{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_confirm{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1800px;
  background-size:cover;
}

.background_complete{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.nav-link{
  font-weight: bold;
  color:red;
}