@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');


*{
  font-family: 'Noto Serif JP', serif;
}

h2{
  font-weight: bold;
}

td{
  font-weight: bold;
}

.top_mesg{
  position:absolute;
  top:35%;
  left:30%;
  color:#ffffff;
}

.link{
  text-decoration: none;
  color: red ;
}