@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');


*{
  font-family: 'Noto Serif JP', serif;
}


table{
  width: 80%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#93FFAB, #006600);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  background:#F0FFF0;
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

h2{
  font-weight: bold;
}

h3{
  font-weight: bold;
}

h5{
  color:red;
  font-weight: bold;
}

h6{
  font-weight: bold;
}


.top_mesg{
  position:absolute;
  top:19%;
  left:15%;
  color:#ffffff;
  width: 65%;
  height: 300px;
}

.main-title{
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fff;
  font-size: 3rem;
  font-family: serif;
  position: absolute;
  top: 15px;
  right: 50px;
  border: 1px solid #fff;
  padding: 5px;

}

.sub-title{
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fff;
  font-size: 2rem;
  font-family: serif;
  position: absolute;
  bottom: 15px;
  left: 120px;

}

.background_form{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 2200px;
  background-size:cover;
}

.background_top{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1000px;
  background-size:cover;
}

.background_my{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_edit{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_unsubscribe{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.background_confirm{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1800px;
  background-size:cover;
}

.background_complete{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 800px;
  background-size:cover;
}

.nav-link{
  font-weight: bold;
  color:red;
}

.tag_age{
  font-weight: bolder;
  color: #250d00;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #69b076;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.tag_age:before{
  content: '●';
  color: white;
  margin-right: 8px;
}

.tag_design{
  position: relative;
  padding: 0.5em;
  background:#93b881;
  color: #1f3134;


}

.tag_design:before{
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);


}

.table_co{
  text-align: center;
  color:white;
  background: linear-gradient(#93FFAB, #006600);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.background_mypost{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1300px;
  background-size:cover;
}

.background_sign{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1200px;
  background-size:cover;
}

.background_entry{
  background-image: url("/images/pf_back2.jpg");
  background-position:bottom;
  height: 1500px;
  background-size:cover;
}

.sign-btn{
 position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#93FFAB, #006600);/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.sign-btn:active{
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;

}